

// Modern CF

// .group:after {
//   content: "";
//   display: table;
//   clear: both;
// }



// Modal Overlay
.modal-overlay {
	background: #000;
	filter: alpha(opacity=0);
	opacity: 0.5;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 80;
	display: block;
}


#modal {
	box-shadow: 0 0 0 10px rgba(255,255,255,0.5);
	display: block;
	float: left;
	position: fixed;
		left: 30%;
		top: 30%;
	padding:0;
	width: 600px;
	z-index: 9999;
}

.modal_header {
	margin: 0;
}

.modal_title {
	padding-left: 20px;
}

.modal_telf {
	background: #c6ccda url(../img/bg_modal_telf.jpg) no-repeat top 20px right;
	transition: all 1s ease;
}

.modal_247 {
	background: #e7eff8 url(../img/bg_modal_24x7.jpg) no-repeat top 20px right;
}

.modal_container {
	margin: 0;

	.copys_container {
		padding: 80px 20px 40px;

		span {
			background: white;
			font-weight: bolder;
			color: #2C4B7E;
			padding: 1px 5px;
		}
	}

	h2 {
		margin: 0 0 10px;
		color: #002d62;
		font-size: 1.5em;
		width: 60%;
	}

	ul li {
		font-weight: bold;
		margin-left: 40px;
		line-height: 2em;
		&:before {
			background-image: url("../img/ok-tick.png");
			content: " ";
			display: block;

			position: absolute;
				left: 20px;
			width: 25px;
			height: 20px;
		}
	}	
}

.form_container {
	box-sizing: border-box;
	background: white;
	float: left;
	margin: 0;
	padding: 20px;
	width: 100%;

	.form_field_inputs {
		width: 36%;
		margin-right: 20px;

		#txtEmail {
			background: url("../img/input-icon_email.png") no-repeat 8px;
			padding-left: 40px;
			&:focus::-webkit-input-placeholder { color:transparent; }
			&:focus:-moz-placeholder { color:transparent; }
		}

		#txtPassword {
			background: url("../img/input-icon_pass.png") no-repeat 8px;
			padding-left: 40px;
			&:focus::-webkit-input-placeholder { color:transparent; }
			&:focus:-moz-placeholder { color:transparent; }
		}

		a {
			float: left; 
			margin-right: 20px;
			width: 20%; 
		}
	}
}

.newUser,
.bottom-registeredUser {
	display: none;
}

.close-session {
	float: left;
	white-space: nowrap;
}


.switch {
	margin: 2px 0 0 0;
	label {
		display: inline-block;
		margin-top: -3px;
	}
}

.switch_24x7 {
	float: left;
	margin: 0;
	width: 100%;
}

.bottom-registeredUser,
.bottom-newUser {
	background: #e7eff8;
	box-sizing: border-box;
	float: left;
	padding: 15px;
	text-align: center;
	width: 100%;

	a {
		float: none;
	}
}