footer {
	background-color: #393939;
	color: #959595;
	text-align: center;
	@extend .clearfix;
	
	span {
		display: inline-block;
		padding: 15px 0 5px;
	}

	ul {
		display: table;
		list-style-type: none;
		float: none;
		margin: 0 auto;
		padding: 10px 0 20px;
		width: auto;
	}

	li {
		float: left;
	}

	a {
		color: #959595;
		text-decoration: none;
		padding: 5px;
		&:hover {
			color: lighten(#959595, 15%)
		}
	}
}